body{
    background-color: rgb(221, 235, 230);
    
}
h1, h2{
    text-align: center;
}
.one{
    display: flex;
    justify-content: center;
}
.item{
    width: 150px;
    height: 25px;
}
.two{
    display: flex;
    justify-content: center;
}
.three{
    display: flex;
    justify-content: center;
}
.four{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
}